<div id="page-container">
    <app-header></app-header>
    <div class="container-partner" id="partners">
        <div class="row mx-0" style="padding-top: 230px;">
            <img class="d-block" src="../../../assets/image/partner/arkray.png" alt="arkray Logo"
                style="height: 30px; width: 80px; margin: 0 auto;cursor: pointer;margin-top: 10px;" title="arkray"
                (click)="redirectTo('arkray')">

            <img class="d-block" src="../../../assets/image/partner/audicom.png" alt="audicom Logo"
                style="height: 40px; width: 100px;margin: 0 auto;cursor: pointer;margin-top: 5px;" title="audicom"
                (click)="redirectTo('audicom')">

            <img class="d-block" src="../../../assets/image/partner/diamond.png" alt="diamond Logo"
                style="height: 30px; width: 110px;margin: 0 auto;cursor: pointer;margin-top: 10px;" title="diamond"
                (click)="redirectTo('diamond')">

            <img class="d-block" src="../../../assets/image/partner/labnova.png" alt="labnova Logo"
                style="height: 30px; width: 160px;margin: 0 auto;cursor: pointer;margin-top: 5px;" title="labnova"
                (click)="redirectTo('labnova')">

            <img class="d-block" src="../../../assets/image/partner/mindray.png" alt="mindray Logo"
                style="height: 40px; width: 140px;margin: 0 auto;cursor: pointer;margin-top: 5px;" title="mindray"
                (click)="redirectTo('mindray')">

            <img class="d-block" src="../../../assets/image/partner/mrk.png" alt="mrk Logo"
                style="height: 60px; width: 70px;margin: 0 auto;cursor: pointer;margin-top: -5px;" title="mrk"
                (click)="redirectTo('mrk')">

            <img class="d-block" src="../../../assets/image/partner/sms.png" alt="sms Logo"
                style="height: 40px; width: 70px;margin: 0 auto;cursor: pointer;" title="sms"
                (click)="redirectTo('sms')">
        </div>
        <div class="row mx-0">
            <img class="d-block" src="../../../assets/image/partner/elitech.png" alt="elitech Logo"
                style="height: 40px; width: 150px; margin: 0 auto;cursor: pointer;margin-top: 10px;" title="elitech"
                (click)="redirectTo('elitech')">

            <img class="d-block" src="../../../assets/image/partner/socorex.svg" alt="socorex Logo"
                style="height: 50px; width: 100px;margin: 0 auto;cursor: pointer;margin-top: 5px;" title="socorex"
                (click)="redirectTo('socorex')">

            <img class="d-block" src="../../../assets/image/partner/radiometer.svg" alt="radiometer Logo"
                style="height: 40px; width: 110px;margin: 0 auto;cursor: pointer;margin-top: 10px;" title="radiometer"
                (click)="redirectTo('radiometer')">

        </div>
    </div>

    <app-footer></app-footer>
</div>
