<div class="container-header-light" id="container-header">
    <ul>
        <img src="../../../assets/image/logo LAM.png" class="logo" id="home" (click)="home()">
        <li (click)="partner()" id="link-partner">{{lbl_partner}}</li>
        <li (click)="product()" id="link-product">{{lbl_product}}</li>
        <li (click)="about()" id="link-about">{{lbl_about}}</li>
        <li (click)="contact()" id="link-contact">{{lbl_contact}}</li>
        <li id="language">
            <span class="dropdown">
                <img src="../../../assets/image/search.png" class="flag" id="search">
                <img src="../../../assets/image/cancel.png" class="flag d-none" id="close">
                <div class="dropdown-content mt-2">
                    <div class="input-group">
                        <input type="text" placeholder="" class="form-control shadow-none" [(ngModel)]="keyword"
                            (keydown)="searchEnter($event)" id="input-search">
                        <div class="input-group-append">
                            <button class="btn btn-primary shadow-none" id="btn-search"
                                (click)="search()">{{lbl_btn_search}}</button>
                        </div>
                    </div>
                </div>
            </span>
            <label class="switch ml-3 mr-1 mb-0">
                <input type="checkbox" id="switch-lang">
                <span class="slider round" id="slider-lang"></span>
            </label>
            <span>
                <img src="../../../assets/image/indonesia.png" class="flag" id="id-flag">
                <img src="../../../assets/image/united-kingdom.png" class="flag d-none" id="uk-flag">
                <img src="../../../assets/image/dark.png" (click)="darkMode('dark')" class="flag ml-3" id="dark">
                <img src="../../../assets/image/light.png" (click)="darkMode('light')" class="flag ml-3 d-none"
                    id="light">
            </span>
        </li>
    </ul>

    <nav role="navigation">
        <div id="menuToggle">
            <!--
          A fake / hidden checkbox is used as click reciever,
          so you can use the :checked selector on it.
          -->
            <input type="checkbox" />

            <!--
          Some spans to act as a hamburger.
          
          They are acting like a real hamburger,
          not that McDonalds stuff.
          -->
            <span></span>
            <span></span>
            <span></span>

            <!--
          Too bad the menu has to be inside of the button
          but hey, it's pure CSS magic.
          -->
            <ul id="menu">
                <a href="#">
                    <li>Home</li>
                </a>
                <a href="#">
                    <li>About</li>
                </a>
                <a href="#">
                    <li>Info</li>
                </a>
                <a href="#">
                    <li>Contact</li>
                </a>
                <a href="https://erikterwan.com/" target="_blank">
                    <li>Show me more</li>
                </a>
            </ul>
        </div>
    </nav>

</div>
