<div class="container-service" id="services">
    <div class="row mx-0">
        <div class="col-md-4 col-sm-12 px-0" data-aos="fade-right" data-aos-delay="100">
            <div class="card border-0" style="width: 18rem;cursor: pointer;">
                <img class="card-img-top" src="../../../assets/image/Asset 1.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Alat Kesehatan</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Detail</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 px-0" data-aos="fade-up" data-aos-delay="100">
            <div class="card border-0" style="width: 18rem;cursor: pointer;">
                <img class="card-img-top" src="../../../assets/image/Asset 2.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Teknisi</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Detail</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 px-0" data-aos="fade-left" data-aos-delay="100">
            <div class="card border-0" style="width: 18rem;cursor: pointer;">
                <img class="card-img-top" src="../../../assets/image/Asset 3.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Aplikasi</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Detail</a>
                </div>
            </div>
        </div>
    </div>
</div>
