<div class="container-carousel row">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="width: 100%;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-4">
                        <div class="bottom-left">
                            <p class="ml-3">Distributor {{lang == 'en' ? 'For' : 'Untuk'}} :</p>
                            <ul>
                                <!-- <li>Electrolyte ISE</li>
                            <li>Hema Coag, Imun. Reagant hema kimia, dll.</li>
                            <li>LIS Vanslab</li>
                            <li>Blood Gas, Urine</li>
                            <li>HbA1c</li> -->
                                <li>Chemistry Autoanalyzer</li>
                                <li>Immunology</li>
                                <li>Hematology Analyzer</li>
                                <li>Electrolyte Analyzer</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <img class="d-block carousel-img" src="../../../assets/image/office 2.jpg" alt="First slide">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4">
                        <div class="bottom-left">
                            <p>Distributor {{lang == 'en' ? 'For' : 'Untuk'}} :</p>
                            <ul>
                                <li>Urine Analyzer</li>
                                <li>Blood Gas Analyzer</li>
                                <li>Hemostasis</li>
                                <li>Laboratory Information System (LIS)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <img class="d-block w-100 carousel-img" src="../../../assets/image/receptionist_2.jpg"
                            alt="Second slide">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-5">
                        <div class="bottom-left">{{lang == 'id' ? desc_company : desc_company_en}}</div>
                    </div>
                    <div class="col-md-7">
                        <img class="d-block w-100 carousel-img" src="../../../assets/image/workshop 2_2.jpg"
                            alt="Third slide">
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
