<div class="container-carousel row">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="width: 100%;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row" id="row-1">
                    <div class="col-md-4 pr-0">
                        <div class="bottom-left" id="bottom-1">
                            <p class="ml-3">Distributor {{lang == 'en' ? 'For' : 'Untuk'}} :</p>
                            <ul>
                                <li>Chemistry Autoanalyzer</li>
                                <li>Immunology</li>
                                <li>Hematology Analyzer</li>
                                <li>Electrolyte Analyzer</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8 pl-0">
                        <img class="d-block carousel-img pl-0" src="../../../assets/image/office light.webp"
                            alt="First slide" id="first-slide">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row" id="row-2">
                    <div class="col-md-4">
                        <div class="bottom-left" id="bottom-2">
                            <p class="ml-3">Distributor {{lang == 'en' ? 'For' : 'Untuk'}} :</p>
                            <ul>
                                <li>Urine Analyzer</li>
                                <li>Blood Gas Analyzer</li>
                                <li>Hemostasis</li>
                                <li>Laboratory Information System (LIS)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <img class="d-block w-100 carousel-img" src="../../../assets/image/receptionist light.webp"
                            alt="Second slide" id="second-slide">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row" id="row-3">
                    <div class="col-md-4">
                        <div class="bottom-left" id="bottom-3">{{lang == 'id' ? desc_company : desc_company_en}}</div>
                    </div>
                    <div class="col-md-8">
                        <img class="d-block w-100 carousel-img" src="../../../assets/image/workshop 2 light.webp"
                            alt="Third slide" id="third-slide">
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
