.container-footer {
    padding: 20px;
    text-align: center;
    border-bottom: 0.5px solid #dfdfdf !important;
    background-color: #293858;
    margin-top: auto;
}

.footer-text {
    color: #fff;
    margin: 0;
}
