.container-product {
    display: block;
    padding-bottom: 90px;
}

.card {
    margin: 30px auto;
}

.card-title {
    text-transform: capitalize;
}

.card:hover {
    color: red;
    text-shadow: 2px 2px #dbdbdb;
}

.card-img-product {
    border-radius: 10px;
}

.card {
    width: 18rem;
    cursor: pointer;
}

.card-dark {
    color: #bbe1fa;
    background-color: rgb(27, 38, 44);
}

@media only screen and (max-width: 576px) {
    .card {
        width: unset;
        cursor: pointer;
    }
}
