<div class="container-product" id="products">
    <div class="row mx-5">
        <div class="col-md-3 col-sm-12 px-0">
            <div class="card border-0" (click)="redirectTo('blood-gas-analyzer-siemens')">
                <img class="card-img-product" src="../../../assets/image/product/blood gas analyzer siemens.png"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-title text-center">blood gas analyzer siemens</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 px-0">
            <div class="card border-0" (click)="redirectTo('electrolyte-analyzer-audicom')">
                <img class="card-img-product" src="../../../assets/image/product/electrolyte analyzer audicom.png"
                    alt="Card image cap" style="height: 190px;width: 80%;margin: 0 auto;">
                <div class="card-body">
                    <p class="card-title text-center">electrolyte analyzer audicom</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 px-0">
            <div class="card border-0" (click)="redirectTo('electrolyte-analyzer-avl')">
                <img class="card-img-product" src="../../../assets/image/product/electrolyte analyzer avl.jpg"
                    alt="Card image cap" style="height: 190px;">
                <div class="card-body">
                    <p class="card-title text-center">electrolyte analyzer avl</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12 px-0">
            <div class="card border-0" (click)="redirectTo('hematology-analyzer')">
                <img class="card-img-product" src="../../../assets/image/product/hematologi analyzer bc_6800.jpg"
                    alt="Card image cap" style="height: 190px;width: 60%;margin:0 auto;">
                <div class="card-body">
                    <p class="card-title text-center">hematology analyzer</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 px-0">
            <div class="card border-0" (click)="redirectTo('hemostasis-analyzer')">
                <img class="card-img-product" src="../../../assets/image/product/hemostasis analyzer.jpg"
                    alt="Card image cap" style="height: 190px;">
                <div class="card-body">
                    <p class="card-title text-center">hemostasis analyzer</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 px-0">
            <div class="card border-0" (click)="redirectTo('immunology-analyzer')">
                <img class="card-img-product" src="../../../assets/image/product/immunology analyzer.png"
                    alt="Card image cap" style="height: 190px;">
                <div class="card-body">
                    <p class="card-title text-center">immunology analyzer</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12 px-0">
            <div class="card border-0" (click)="redirectTo('urine-analyzer')">
                <img class="card-img-product" src="../../../assets/image/product/urine analyzer ae-4020.png"
                    alt="Card image cap" style="height: 190px;">
                <div class="card-body">
                    <p class="card-title text-center">urine analyzer</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 px-0">
            <div class="card border-0" (click)="redirectTo('urine-analyzer-cobio')">
                <img class="card-img-product" src="../../../assets/image/product/urine analyzer cobio.png"
                    alt="Card image cap" style="height: 190px;">
                <div class="card-body">
                    <p class="card-title text-center">urine analyzer cobio</p>
                </div>
            </div>
        </div>

    </div>
</div>
